/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');


// fonts
$base-font-size: 15;
$base-font: 'Roboto', sans-serif;
$heading-font: 'Nunito', sans-serif;


// color
$dark-gray: #010038; //
$body-color: #525252;
$white: #fff; //
$light: #FFEBEB; //
$black: #000;
$small-black: #333;
$cyan: #848892; //

$theme-primary-color: #F99126; //
$theme-primary-color-gradient: linear-gradient(180deg, #EBB011 0%, #ED861D 99.48%); //
$theme-primary-color-gradient-2: linear-gradient(180deg, #00AF90 0%, #00715D 97.92%); //
$theme-primary-color-gradient-3: linear-gradient(180deg, #1ECFFE 0%, #1287FF 100%); //
$theme-primary-color-gradient-4: linear-gradient(180deg, #FF7888 0%, #C10000 94.79%); //
$body-bg-color: #fff;
$section-bg-color: #F9F9F9; //
$section-bg-color-s2: #F8F2F2; //
$text-color: #525252; //
$text-light-color: #BFC4DC; //
$text-light-color-s2: #989AA5; //
$heading-color: $dark-gray;
$border-color: #ebebeb;
$border-color-s2: #DDDDDD;